body {
    background-color: #EFF6FF;
    font-family: "BarlowCondensed-Italic";
    color: #2A4A5C;
    text-indent: 7%;
}
/*.btn-group{*/
/*    text-align:center;*/
/*    align-content:center;*/

/*}*/
.rightHalf {
    background-color: white;
}
div.tooltip span {
    display: none;

}
/*.tooltip{*/
/*    */
/*}*/
div.tooltip:hover span{
    display:block;/*показываем тултип при наведении*/
    width: 250px;
    bottom: 100%;
    margin-left: -60px;
    background:#fafafa;/*фон, что бы было видно тултип*/
    text-indent: 1%;
}
.facebook {
    background-color: #255A9B;
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: left;
    font-size: 85%;
    margin-left: 7%;
    width: 35%;
    height: 4%;

}
.LikedIn {
    background-color: #0076B6;
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: left;
    /*text-decoration: none;*/
    /*display: inline-block;*/
    font-size: 85%;
    width: 35%;
    height: 4%;
    margin-left : 15%;
}
/*.back img {*/
/*    z-index: -1;*/
/*}*/

h1 { font-size: 45px;
    margin-top: 75px;
}

p {
    font-size: 25px;

}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e9e9e9;
}
.separator::before {

    margin-right: 5%;
    margin-left: 15%;
}
.separator::after {
    margin-left: 5%;
    margin-right: 15%;

}
.dataInput  {
    font-size:85%;
    height:4%;
    width:35%;
    margin-left: 7%;


}
.dataInput1  {
    font-size:85%;
    height:4%;
    width:35%;
    margin-right: 7%;
}
input::placeholder {
    transform: translateY(-10px);
    color: #96A5B1;
}
h3 {
    margin-top: 75px;
    font-size: 35px;
}




@font-face {
 /*название шрифта*/
font-family: "BarlowCondensed-Italic";
 /*адрес шрифта и тип*/
src: url("fonts/BarlowCondensed-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
