body {
    background-color: #EFF6FF;
    font-family: "Barlow-Light";
    color: #2A4A5C;
    text-indent: 7%;
}
.btnFb {

    border: none;
    color: white;
    background-color: #255A9B;
    padding: 10px 22px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 7%;


}

.btnFb:before {

    background-image: url(images/facebook.svg);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}
.btnLi {
    border: none;
    color: white;
    background-color: #0076B6;
    padding: 10px 22px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 7%;
    margin-rigth: 40px;
}
.btnLi:before {
    background-image: url(images/linkedin.svg);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.rightHalf {
    background-color: white;
}
/*div.tooltip span {*/
/*    display: none;*/

/*}*/

.in2{
    margin-left: 12%;

    /*margin-bottom: 7%;*/

}
.fixed {
    border: 1px solid #EEEEEE;
    text-indent: 1%;
    /*display:block;!*показываем тултип при наведении*!*/
    width: 260px;
    bottom: 100%;
    margin-top: 35px;
    margin-left: 60px;
    margin-bottom: 15px;
    background:#fafafa;/*фон, что бы было видно тултип*/

}

.leftPage {
    position: relative;
    z-index: 0;
}
#back {
    position: absolute;
    z-index: 0;
}
#front{
    position: absolute;
    z-index: 1;
    margin-top: 75px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e9e9e9;
}
.separator::before {

    margin-right: 25px;
    margin-left: 100px;
}
.separator::after {
    margin-left: 25px;
    margin-right: 100px;

}
.dataInput  {
    font-size:85%;
    /*height:3000%;*/
    /*width: 37%;*/
    height:40px;
    width:220px;
    margin-left: 7%;

}
.dataInput1  {
    font-size:85%;
    height:40px;
    width:220px;
    margin-right: 9%;

}
.tooltip {
    margin-bottom: 15px;
}
/*input::placeholder {*/
/*    transform: translateY(-10px);*/
/*    color: #96A5B1;*/
/*}*/
h1 {
    margin-top: 75px;
    font-size: 35px;

}
h3 {
    margin-top: 45px;
    font-size: 25px;
}
.startP {
    font-size: 20px;
    margin-bottom: 75px;

    color: #96A5B1;
}
p {
    font-size: 15px;
    margin-bottom: 50px;
    color: #96A5B1;

}
.check {
    margin-top: 45px;
    font-size: 100%;
}
#create{
    background-color: #3698FB;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2% 6%;
    text-align: left;
    font-size: 85%;
    margin-left: 7%;
    margin-top: 65px;
}
.form-control {
    width: 100%;
    position: relative;
    margin-left: 7%;
}
#email{
/*display:inline-block;*/
    outline: none;
    width: 32%;
    border: 1px solid #96A5B1;
    padding: 18px;
    font-size: 14px;
}
#tel{
    /*display: inline-block;*/
    outline: none;
    width: 31%;
    border: 1px solid #96A5B1;
    padding: 18px;
    font-size: 14px;
}
#lab1{
    position: absolute;
left: 59%;

}
#lab2{
   position: absolute;
left: 79%;
}


@font-face {
 /*название шрифта*/
font-family: "Barlow-Light";
 /*адрес шрифта и тип*/
src: url("fonts/Barlow-Light.otf") format("OpenType");
    font-style: normal;
    font-weight: normal;
}
