body {
    background-color: #EFF6FF;
    font-family: "Barlow-Light";
    color: #2A4A5C;
    text-indent: 7%;
}

/*.btn-group{*/
/*    text-align:center;*/
/*    align-content:center;*/

/*}*/
.rightHalf {
    background-color: white;
}
div.tooltip span {
    display: none;

}

.in2{
    margin-left: 12%;

    /*margin-bottom: 7%;*/

}
div.tooltip:hover span{
    border: 1px solid #EEEEEE;
    text-indent: 1%;
    display:block;/*показываем тултип при наведении*/
    width: 250px;
    bottom: 100%;
    margin-left: 60px;
    /*margin-bottom: 0%;*/
    background:#fafafa;/*фон, что бы было видно тултип*/

}
.facebook {
    background-color: #255A9B;
    border: none;
    color: white;
    padding: 2% 6%;
    text-align: left;
    font-size: 85%;
    margin-left: 7%;
    /*width: 35%;*/
    /*height: 4%;*/

}
.LikedIn {
    background-color: #0076B6;
    border: none;
    color: white;
    padding: 2% 6%;
    text-align: left;
    /*text-decoration: none;*/
    /*display: inline-block;*/
    font-size: 85%;
    /*width: 35%;*/
    /*height: 4%;*/
    margin-left : 7%;
}
.leftPage {
    position: relative;
    z-index: 0;
}
#back {
    position: absolute;
    z-index: 0;
}
#front{
    position: absolute;
    z-index: 1;
    margin-top: 75px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e9e9e9;
}
.separator::before {

    margin-right: 5%;
    margin-left: 25%;
}
.separator::after {
    margin-left: 5%;
    margin-right: 25%;

}
.dataInput  {
    font-size:85%;
    height:4%;
    width: 37%;
    margin-left: 7%;

}
.dataInput1  {
    font-size:85%;
    height:4%;
    width:37%;
    margin-right: 8%
}
input::placeholder {
    transform: translateY(-10px);
    color: #96A5B1;
}
h1 {
    margin-top: 15%;
    font-size: 35px;}
h3 {
    margin-top: 20%;
    font-size: 25px;
}
.startP {
    font-size: 20px;
    margin-bottom: 10%;
    color: #96A5B1;
}
p {
    font-size: 15px;
    margin-bottom: 10%;
    color: #96A5B1;

}
.check {
    margin-top: 10%;
    font-size: 100%;
}
#create{
    background-color: #3698FB;
    border: none;
    color: white;
    padding: 2% 6%;
    text-align: left;
    font-size: 85%;
    margin-left: 7%;
    margin-top: 8%;
}



@font-face {
 /*название шрифта*/
font-family: "Barlow-Light";
 /*адрес шрифта и тип*/
src: url("fonts/Barlow-Light.otf") format("OpenType");
    font-style: normal;
    font-weight: normal;
}
